{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
    <div class="form-edit">
        <h1>Editer la promotion</h1>
        <hr />
       
        {{ form_start(edit_form) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.formation) }}
            {{ form_row(edit_form.year) }}
            {{ form_row(edit_form.minAverageToValidate) }}
            <div style="float:right;margin-top:15px;">
                {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-sm btn-primary '} }) }}
            </div>
        {{ form_end(edit_form) }}
        
         <div class="clear"></div>
        <hr />
        
        <div>
            {% if(app.request.query.get('gsmode') or app.request.query.get('formationId') is not null) %}
                {% if app.request.query.get('formationId') is not null %}
                    <a href="{{ path('promotion_new') }}?gsmode=true&formationId={{ app.request.query.get('formationId')}}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour</a>
                {% else %}
                    <a href="{{ path('promotion_new') }}?gsmode=true" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour</a>
                {% endif %}
            {% else %}
                <a class="btn btn-purple btn-sm" href="{{ path('promotion') }}">
                    <span class="glyphicon glyphicon-hand-left" />
                    Retour
                </a>
            {% endif %}
            <div style="float:right">
                {{ form_start(delete_form) }}
                    
                    {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
