{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="flash-notice">
			<font color="green">{{ flashMessage }}</font>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('failure') %}
		<div class="flash-notice">
			<font color="red">{{ flashMessage }}</font>
		</div>
	{% endfor %}
    <h1>Créer une promotion</h1>

    {{ form(form) }}

    <hr />
    
    <div class="row">
        <p class="center">           
			{% if(app.request.query.get('gsmode')) %}
				<a href="{{ path('formation_new') }}?gsmode=true" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Revenir à l'étape précédente</a>
			{% else %}
				<a href="{{ path('promotion') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
			{% endif %}	
        </p>
    </div>
	
	<hr />
	{% if entity.formation is not null %}
		{% if(app.request.query.get('gsmode')) %}
			<h1 class="page-header">Choisir une promotion existante de formation {{ entity.formation.name ~ " " ~ entity.formation.type }}</h1>
		{% else %}
			<h1 class="page-header">Liste des promotions existantes pour la formation {{ entity.formation.name ~ " " ~ entity.formation.type }}</h1>
		{% endif %}
		
		{% if entities is not empty %}		
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover ">
					<thead>
						<tr>
							<th>Formation</th>
							<th>Moyenne pour valider</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in entities %}
						<tr>
							<td>{{ entity.name ~ " " ~ entity.formation.name ~ " " ~ entity.formation.type ~ " " ~ entity.year}}</td>
							<td>{{ entity.minAverageToValidate }}</td>
							<td>
								<div class="btn-group">
									{% if(app.request.query.get('gsmode')) %}
										<a href="{{ path('promotion_edit', { 'id': entity.id }) }}?gsmode=true&formationId={{ app.request.query.get('formationId')}}"  class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Éditer</a>
									{% else %}
										<a href="{{ path('promotion_edit', { 'id': entity.id }) }}"  class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Éditer</a>
									{% endif%}
									
									{% if(app.request.query.get('gsmode')) %}
										<a href="{{ path('container_new') }}?gsmode=true&promotionId={{entity.id}}"  class="btn btn-purple btn-xs"><span class="glyphicon glyphicon-hand-right"></span> Go</a>
									{% endif %}
								</div>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>               
		{% else %}
			<p class="center no-reccords-to-display">Aucun enregistrement à afficher.</p>
		{% endif %}
	{% endif %}
{% endblock %}
