{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
    <h1>Promotion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
			<tr>
                <th>Formation</th>
				<td>{{ entity.formation.name }}</td>
            </tr>
			<tr>
                <th>Promotion</th>
				<td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('promotion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('promotion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
	<li>
		<a href="{{ path('container_new', { 'id': entity.id }) }}"><input type="button" value="Add a container">
		</a>
	</li>
	<li>
		<a href="{{ path('studentpromotion_new', { 'promotionId': entity.id }) }}"><input type="button" value="Add an existing student">
		</a>
		or
		<a href="{{ path('student_new', { 'id': entity.id }) }}"><input type="button" value="Create new student">
		</a>
	</li>
</ul>
{% endblock %}
