<header class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>            
            <a class="navbar-brand easysaisie" href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home purple"></span> EasySaisie</a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('mark') }}"><span class="glyphicon glyphicon-list purple"></span> NOTES</a>
                </li>

                {% if app.user.roles is defined and app.user.roles[0] == "ROLE_ADMIN" %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog purple"></span> GÉRER <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('container') }}">CONTENEURS D'UEs</a></li>
                            <li><a href="{{ path('student') }}">ÉTUDIANTS</a></li>
                            <li><a href="{{ path('formation') }}">FORMATIONS</a></li>
                            <li><a href="{{ path('subject') }}">MATIÈRES</a></li>
                            <li><a href="{{ path('promotion') }}">PROMOTIONS</a></li>
                            <li><a href="{{ path('rule') }}">RÈGLES</a></li>
                            <li><a href="{{ path('teachingunit') }}">UEs</a></li>
                            <li><a href="{{ path('user') }}">Utilisateurs</a></li>
                        </ul>
                    </li>
                {% endif %}

				<li><a href="{{ path('formation_new') }}"><span class="glyphicon glyphicon-play purple"></span> Get Started</a></li>
            </ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="navbar-form navbar-right">
                    <p>Connecté en tant que {{ app.user.username }} <a class="btn btn-purple" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
                </div>
            {% endif %}
        </nav>
    </div><p></p>
</header>
