{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="flash-notice">
			<font color="green">{{ flashMessage }}</font>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('failure') %}
		<div class="flash-notice">
			<font color="red">{{ flashMessage }}</font>
		</div>
	{% endfor %}
    <h1>Créer une formation</h1>

    {{ form(form) }}

    <hr />  
	
	{% if app.request.query.get('gsmode') is null %}
		<div class="row">
			<p class="center">                       
				<a href="{{ path('formation') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>		
			</p>
		</div>
	{% endif %}
	
	{% if(app.request.query.get('gsmode')) %}
		<h1 class="page-header">Choisir une formation existante</h1>
	{% else %}
		<h1 class="page-header">Liste des formations existantes</h1>
	{% endif %}
	
	{% if entities is not empty %}		
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover ">
				<thead>
					<tr>
						<th>Formation</th>
						<th>Actions</th>
					</tr>
					</tr>
				</thead>
				<tbody>
				{% for entity in entities %}
					<tr>
						<td>{{ entity.name ~" "~ entity.type}}</td>
						<td>
							<div class="btn-group">
								<a href="{{ path('formation_edit', { 'id': entity.id }) }}"  class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Éditer</a>
								{% if(app.request.query.get('gsmode')) %}
									<a href="{{ path('promotion_new') }}?gsmode=true&formationId={{entity.id}}"  class="btn btn-purple btn-xs"><span class="glyphicon glyphicon-hand-right"></span> Go</a>
								{% endif %}
							</div>							
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>               
	{% else %}
		<p class="center no-reccords-to-display">Aucun enregistrement à afficher.</p>
	{% endif %}
{% endblock %}
