{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="flash-notice">
			<font color="green">{{ flashMessage }}</font>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('failure') %}
		<div class="flash-notice">
			<font color="red">{{ flashMessage }}</font>
		</div>
	{% endfor %}
    <h1>Ajout de matière(s) dans des UEs pour une promotion</h1>

    {{ form(form) }}

    <hr />
    
    <div class="row">
        <p class="center">            
			{% if(app.request.query.get('gsmode')) %}
				<a href="{{ path('teachingunitcontainer_new') }}?gsmode=true" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Revenir à l'étape précédente</a>
				<a href="{{ path('student_new') }}?gsmode=true" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Sauter cette étape</a>
			{% else %}
				<a href="{{ path('teachingunitcontainersubject') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
			{% endif %}
        </p>
    </div>
{% endblock %}
