{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="flash-notice">
			<font color="green">{{ flashMessage }}</font>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('failure') %}
		<div class="flash-notice">
			<font color="red">{{ flashMessage }}</font>
		</div>
	{% endfor %}
    <div class="form-edit">
        <h1>Editer une matière</h1>
        <hr />

        {{ form_start(edit_form) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.abbreviation) }}
            <div style="float:right;margin-top:15px;">
                {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-sm btn-primary '} }) }}
            </div>
        {{ form_end(edit_form) }}
        <div class="clear"></div>
        <hr />
        
        <div>
            {% if(app.request.query.get('gsmode') or app.request.query.get('promotionId') is not null) %}
                {% if app.request.query.get('promotionId') is not null %}
                    <a href="{{ path('subject_new') }}?gsmode=true&promotionId={{ app.request.query.get('promotionId')}}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour</a>
                {% else %}
                    <a href="{{ path('subject_new') }}?gsmode=true" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour</a>
                {% endif %}
            {% else %}
                <a class="btn btn-purple btn-sm" href="{{ path('subject') }}">
                    <span class="glyphicon glyphicon-hand-left" />
                    Retour
                </a>
            {% endif %}
            <div style="float:right">
                {{ form_start(delete_form) }}
                    
                    {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
        
    </div>
{% endblock %}
