{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
    
    <h1 class="page-header">Liste des matières</h1>

    {% if entities is not empty %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
						<th>Abréviation</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
						<td>{{ entity.abbreviation }}</td>
                        <td>{{ entity.name }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('subject_show', { 'id': entity.id }) }}"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span> Voir</a>
                                <a href="{{ path('subject_edit', { 'id': entity.id }) }}"  class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Éditer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>               
    {% else %}
        <p class="center no-reccords-to-display">Aucun enregistrement à afficher.</p>
    {% endif %}
        <hr />
        
        <div class="row">
            <p class="center">
                <a href="{{ path('subject_new') }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
            </p>
        </div>
{% endblock %}
    
