{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
	{% for flashMessage in app.session.flashbag.get('failure') %}
		<div class="flash-notice">
			<font color="red">{{ flashMessage }}</font>
		</div>
	{% endfor %}
    <h1>Créer un étudiant</h1>

    {{ form(form) }}

    <hr />
    
    <div class="row">
        <p class="center">            
            <a href="{{ path('student') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
			<a href="{{ path('teachingunitsubject_new') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Revenir à l'étape précédente</a>
			<a href="{{ path('studentpromotion_new') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Sauter cette étape</a>
        </p>
    </div>
</ul>
{% endblock %}
