{% extends 'C2JEasySaisieBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
 
    <h1 class="page-header">UE - {{ entity.name }}</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.code }} {{ entity.name }} - {{ entity.container.promotion }} - {{ entity.container }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('teachingunit_edit', { 'id': entity.id }) }}"  class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Éditer</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr />
    
    <div class="row">
        <p class="center">            
            <a href="{{ path('teachingunit') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
        </p>
    </div>
	<hr />