<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EasySaisie - Le logiciel qui vous simplifie la vie !{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/c2jeasysaisie/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
            <link href="{{ asset('bundles/c2jeasysaisie/css/theme.bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen" />
            <link href="{{ asset('bundles/c2jeasysaisie/css/bootstrap-editable.css') }}" type="text/css" rel="stylesheet" media="screen" />
            <link href="{{ asset('bundles/c2jeasysaisie/css/easysaisie.css') }}" type="text/css" rel="stylesheet" media="screen" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="loadingWheel" style="display:none;">
            <img src="{{ asset('bundles/c2jeasysaisie/img/loading_wheel.gif') }}">
        </div>
        {% include 'C2JEasySaisieBundle:Elements:menu.html.twig' %}

        {% block body_header %}{% endblock %}
        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}            
            </div>
        </div>
        
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/jquery.tablesorter.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/jquery.tablesorter.widgets.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/bootstrap-editable.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/common.js') }}"></script>
        {% endblock %}
    </body>
</html>