{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
        
    <h1 class="page-header">Veuillez saisir les notes pour la matière {{ tucs.subject.name }}</h1>

    <form method="post" action="#">

	    <table class="table table-bordered table-bordered">
		    <thead>
		    	<th>Num. Etudiant</th>
		    	<th>Etudiant</th>
		    	<th>Note</th>
		    </thead>
		    <tbody>
		        {% for i, sp in studentPromotions %}
		            <tr>
		                <td>{{ sp.student.number }}</td>
		                <td class="studentName"><b>{{ sp.student.lastName }}</b> {{ sp.student.firstName }}</td>
		                
		                {% if sp.marks|length > 0 %}{{dump(sp.marks|length)}}
		                	{% for mark in sp.marks %}
		                		{# {% if session %} #}

		                		
			                		<td><input type="text" name="mark-{{ i }}" value="{{ mark.valueS1 }}" /></td>
			                		<td><input type="hidden" name="markid-{{ i }}" value="{{ mark.id }}" /></td>
		                	{% endfor %}
	                	{% else %}
	                		<td><input type="text" name="mark-{{i}}" /></td>
                		{% endif %}
		            </tr>
		            <input type="hidden" name="spid" value="{{ sp.id }}" />
		            <input type="hidden" name="promotion_id" value="{{ sp.promotion.id }}" />
					<input type="hidden" name="year" value="{{ sp.promotion.year }}" />
		        {% endfor %}
			</tbody>
		</table>

		<hr />

		<div clas="center">
			<input type="submit" name="submit" class="btn btn-purple" value="Enregistrer les notes" />	
		</div>

		<input type="hidden" name="tucsId" value="{{ tucId }}" />
		<input type="hidden" name="tucsId" value="{{ tucs.id }}" />
		<input type="hidden" name="session" value="{{ session }}" />
		<input type="hidden" name="subjectId" value="{{ subjectId }}" />
		<input type="hidden" name="marksCount" value="{{ studentPromotions|length }}" />
	</form>
{% endblock %}
    
