{% extends 'C2JEasySaisieBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    {{dump(entities)}}
    
    {% if studentPromotions is not empty %}
        {#% set studentPromotion = entities[0].studentPromotion %#}

        <h1 class="page-header">Notes des étudiants de {#{ studentPromotion.promotion }#} {#{ studentPromotion.year }#}</h1>

        <table class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>

                    {% set containerName = entities[0].teachingUnit.container.name %}
                    {% for entity in entities %}
                        {% if entity.teachingUnit.container.name != containerName %}
                            <th colspan="">{{ entity.teachingUnit.container.name }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>{#{ entity.teachingUnitSubject.teachingUnit.code }#} {#{ entity.teachingUnitSubject.teachingUnit.name }#}</th>
                </tr>
                <tr>
                    <th>Num. Etudiant</th>
                    <th>Etudiant</th>
                    <th>/x</th>
                    <th>{#{ entity.teachingUnitSubject.subject.name }#}</th>
                </tr>
            </thead>
            <tbody>
                {% for sp in studentPromotions %}{
                <tr>
                    <td>{{ sp.student.number }}</td>
                    <td><b>{{ sp.student.lastName }}</b> {{ sp.student.firstName }}</td>
                </tr>   
                {% endfor %}                
            </tbody>
        </table>
    {% else %}
        <p class="center no-reccords-to-display">Pas de notes pour cette promotion.</p>
    {% endif %}

    <hr />
    
    <div class="row">
        <p class="center">            
            <a href="{{ path('mark') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
        </p>
    </div>
{% endblock %}
    
