
{% extends 'C2JEasySaisieBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    
    {% if studentPromotions is not empty %}
        <h1 class="page-header">Notes des étudiants de {{studentPromotions[0].promotion }} {{ studentPromotions[0].year}}</h1>

        <!-- MARKS TABLE -->
        <table class="table table-bordered table-bordered" id="marksTable">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    {% for container in containers %}
                        <th colspan="{{ containersColspan[loop.index - 1] }}">{{ container.name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    {% for container in containers %}
                        {% for tu in container.teachingUnits %} 
                            {# +1 to take in account the avg column #}
                            <th colspan="{{ tu.teachingUnitSubjects | length + 1}}">{{ tu.code }} {{ tu.name }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Num. Etudiant</th>
                    <th>Etudiant</th>
                    {% for container in containers %}
                        {% for tu in container.teachingUnits %}
                            <th class="tuAvg"><img src="{{ asset('bundles/c2jeasysaisie/img/xbar.png') }}" /></th>
                            {% for tus in tu.teachingUnitSubjects %}
                                <th class="subject">{{ tus.subject.abbreviation }}</th>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for sp in studentPromotions %}
                    {% set spId = sp.id %} {# declared here to use it after the for loop #}
                    <tr>
                        <td>{{ sp.student.number }}</td>
                        <td><b>{{ sp.student.lastName }}</b> {{ sp.student.firstName }}</td>

                        {% for tu in subjectsByTu %}
                            <td class="tuAvg"></td>

                            {% set continue = true %} {# used to simulate a break in php because it's not available in Twig #}
                            {% set markId = '' %} {# declared here to use it after the for loop #}
                            {% set tusid = '' %} {# declared here to use it after the for loop #}

                            {# {% set continue = true %}
                            {% for container in containers %}
                                {% for tu in container.teachingUnits %}
                                    {% for tus in tu.teachingUnitSubjects %}
                                        {% if subject == tus.subject.id %}
                                            {% set tusid = tus.id %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %} #}

                            {% for sid, subject in tu %}
                                {% for mark in sp.marks if continue %}
                                    {% if mark.teachingUnitSubject.subject.id == sid %}                                         
                                        <td>
                                            <a 
                                                href="" 
                                                class="mark" 
                                                data-pk="{{ markId }}"
                                                data-spid="{{ spId }}"
                                                data-tusid="{{ tusId }}" 
                                                data-type="text" 
                                                data-url="{{ path('mark_persist_ajax') }}">
                                                {{ mark.value }}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}                                
                            {% endfor %}

                        {% endfor %}
                    </tr> 
                {% endfor %} 
            </tbody>
        </table>

        <hr />

        <!-- AVG TABLE -->
        <table class="table table-bordered table-bordered table-striped" id="avgTable">
            <tbody>
                <tr>
                    <td><b>Moyenne</b></td> 
                    {% set countTUS = 0 %} {# Used to avoid these loops for the nexts <tr> #}
                    {% for container in containers %}
                        {% for tu in container.teachingUnits %}
                            {% for tus in tu.teachingUnitSubjects %}
                                {% set countTUS = countTUS + 1 %}
                                <td class="subjectAvg"></td>         
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}                
                </tr>
                <tr>
                    <td><b>Note Min</b></td> 
                    {% for i in 0..countTUS-1 %}
                        <td class="minSubjectAvg"></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Note Max</b></td> 
                    {% for i in 0..countTUS-1 %}
                        <td class="maxSubjectAvg"></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>                   
                                
    {% else %}
        <p class="center no-reccords-to-display">Il n'y a pas de notes à afficher pour cette promotion.</p>
    {% endif %}

    <hr />
    
    <div class="row">
        <p class="center">            
            <a href="{{ path('mark') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/marks.js') }}"></script>
{% endblock %}
