
{% extends 'C2JEasySaisieBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}

    {% if 
		studentPromotions is not empty 
		and (containers is not empty 
		or containersColspan is not empty 
		or subjectsByTuc is not empty)
	%}
        <div>
            <h1 class="page-header">Notes des étudiants de {{studentPromotions[0].promotion }} {{ studentPromotions[0].promotion.year}}</h1>
        </div>

        <div class="btn-group" id="btns_session">
            {% set promotion_id = studentPromotions[0].promotion.id %}
            {% set year = studentPromotions[0].promotion.year %}
            <a 
                href="{{ path('mark_list', { 'year': year, 'promotion_id': promotion_id, 'session' : 1 }) }}" 
                class="btn btn-default btn-xs sessionPicker" 
                id="btn_session1">
                Session 1
            </a>     
            <a 
                href="{{ path('mark_list', { 'year':year, 'promotion_id': promotion_id, 'session' : 2 }) }}" 
                class="btn btn-default btn-xs sessionPicker" 
                id="btn_session2">
                Session 2
            </a>    
            <a 
                href="{{ path('mark_list', { 'year':year, 'promotion_id': promotion_id, 'session' : 3 }) }}" 
                class="btn btn-default btn-xs sessionPicker" 
                id="btn_pvFinal">
                PV Final
            </a> 
            <a href="#" class="btn btn-success btn-xs" id="btnExport">Export Excel</a>  
        </div>

        <hr />

        <div>
            <a href="#displayMarks" class="btn btn-default" id="switchDisplayMarks"><span class="glyphicon glyphicon-list purple"></span> Notes</a>
            <a href="#displayContainersAvg" class="btn btn-default" id="switchDisplayContainersAvg"><span class="glyphicon glyphicon-sort-by-attributes purple"></span> Moyennes générales</a>
        </div>

        <hr />

        <!-- DISPLAY MARKS -->        
        <div id="displayMarks">
            <!-- MARKS TABLE -->
            <table class="table table-bordered table-bordered table-striped table-hover exportable" id="marksTable">
                <thead>
                    <tr>
                        <th data-sorter="false"></th>
                        <th data-sorter="false"></th>
                        {% for container in containers %}
                            <th 
                                data-sorter="false" 
                                data-iscompensable="{{ container.isCompensable ? 1 : 0 }}"
                                data-minmark="{{ container.minMark }}"
                                data-minavg="{{ container.minAverage }}"                                
                                colspan="{{ containersColspan[loop.index - 1] }}">
                                {{ container.name }}
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th data-sorter="false"></th>
                        <th data-sorter="false"></th>
                        {% for container in containers %}							
                            {% for tuc in container.teachingUnitContainers %} 
                                {# +1 to take in account the avg column #}
                                <th 
                                    data-sorter="false" 
                                    colspan="{{ tuc.teachingUnitContainerSubjects | length + 1}}" 
                                    data-iscompensable="{{ tuc.teachingUnit.isCompensable ? 1 : 0 }}"
                                    data-tucode="{{ tuc.teachingUnit.code }}">
                                    {{ tuc.teachingUnit.code }} {{ tuc.teachingUnit.name }}
                                </th>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Num. Etudiant</th>
                        <th>Etudiant</th>
                        {% for container in containers %}
                            {% for tuc in container.teachingUnitContainers %}
                                <th class="tuAvg"><img src="{{ asset('bundles/c2jeasysaisie/img/xbar.png') }}" /></th>
                                {% for tucs in tuc.teachingUnitContainerSubjects %}
                                    <th class="subject">{{ tucs.subject.abbreviation }}</th>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {% if session != 3 %}
                    <tr>
                        <th data-sorter="false"></th>
                        <th data-sorter="false"></th>
                        {% for container in containers %}
                            {% for tuc in container.teachingUnitContainers %}
                                <th></th>
                                {% for tucs in tuc.teachingUnitContainerSubjects %}
                                    <th data-sorter="false">                                        
                                        <a 
                                            href="{{ path('mark_add_by_subject', {
                                                'tucId': tuc.id,
                                                'tucsId': tucs.id,
                                                'subjectId': tucs.subject.id, 
                                                'year': year, 'promotion_id': promotion_id, 
                                                'session' : 1 
                                            })}}"><div style="width:100%;height:100%;"><span class="glyphicon glyphicon-plus purple"></span></div>                                            
                                        </a>
                                    </th>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for sp in studentPromotions %}
                        {% set spId = sp.id %} {# declared here to use it after the for loop #}
                        <tr>
                            <td class="studentNumber">{{ sp.student.number }}</td>
                            <td><b>{{ sp.student.lastName }}</b> {{ sp.student.firstName }}</td>
                            
                            {% for tuCode,tu in subjectsByTuc %}
                                <td class="tuAvg" data-coeff="{{ sumCoeffs[loop.index0] }}" data-iscompensable="{{ tu[0].isCompensable ? 1 : 0 }}" data-containername="{{ tu[0].container }}"></td>

                                {% for tuId in tu %}
                                    {% set markId = '' %} {# declared here to use it after the loops #}
                                    {% set tusId = '' %} {# declared here to use it after the loops #}
                                    {% set markValue = '' %}
                                    {% set markSession = '' %}
                                    {% set markClass = '' %}

                                    {% set continue = true %} {# used to simulate a break in php because it's not available in Twig #}
                                    {% for mark in sp.marks if continue %}
                                        {% if mark.teachingUnitContainerSubject.subject.id == tuId.subject.id %}
                                            {# session1 #}
                                            {% if session == 1 %}
                                                {% set markValue = mark.valueS1 %}
                                                {% for container in containers %} 
                                                    {% if container.id == mark.teachingUnitContainerSubject.teachingUnitContainer.container.id %}
                                                        {% if mark.valueS1 < container.minMark %}
                                                            {% set markClass = 'markEliminatory' %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}           

                                            {# session2 #}
                                            {% elseif session == 2 %} 
                                                {% if mark.valueS2 is not null %}  {# if the session2 mark is not null, let's display it #}
                                                    {% set markValue = mark.valueS2 %}                                                    
                                                {% else %} {# else let's check if the session1 mark fits our requirements #}
                                                    {% for container in containers %} {# Let's check the minMark for each container. If current mark >= minMark then display it, else display '' #}
                                                        {% if container.id == mark.teachingUnitContainerSubject.teachingUnitContainer.container.id %}
                                                            {% if mark.valueS1 >= container.minMark %}
                                                                {% set markValue = mark.valueS1 %}
                                                            {% else %}
                                                                {% set markValue = '' %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}                                                    
                                                {% endif %}
                                            {# session3 (PV Final) #}
                                            {% else %}
                                                {% if mark.valueS2 is not null %}  {# if the session2 mark is not null, let's display it #}
                                                    {% set markValue = mark.valueS2 %}
                                                    {% set markSession = 'markS2' %}                                                    
                                                {% else %}
                                                    {% set markValue = mark.valueS1 %}
                                                {% endif %}
                                            {% endif %}

                                            {% set markId = mark.id %}
                                            {% set continue = false %}
                                        {% endif %}
                                    {% endfor %} 		
                                    <td class="tdMark {{ markSession }}">
                                        <a 
                                            href="" 
                                            class="mark {{ markClass }}"
                                            data-containername="{{ tu[0].container }}"
                                            data-session="{{ session }}"
                                            data-tucode="{{ tuCode }}" 
                                            data-coeff="{{ tuId.subject.coeff }}"
                                            data-pk="{{ markId }}"
                                            data-spid="{{ spId }}"
                                            data-tucsid="{{ tuId.tucsId }}" 											
                                            data-type="text" 
                                            data-url="{{ path('mark_persist_ajax') }}">
                                            {{ markValue }}
                                        </a>
                                    </td>
                                {% endfor %}
                            {% endfor %}
                        </tr> 
                    {% endfor %} 
                </tbody>
            </table>

            <hr />

            <!-- AVG TABLE -->
            <table class="table table-bordered table-bordered table-striped table-hover" id="avgTable"></table>                   
        </div>

        <!-- DISPLAY CONTAINERS AVG -->
        <div id="displayContainersAvg" style="display: hidden;">
            <table class="table table-bordered table-bordered table-striped table-hover exportable" id="containersAvgTable">
                <thead>
                    <tr>
                        <th>Num. Etudiant</th>
                        <th>Etudiant</th>
                        {% for container in containers %}
                            <th><img src="{{ asset('bundles/c2jeasysaisie/img/xbar.png') }}" /> {{ container.name }}</th>
                        {% endfor %}
                        <th><img src="{{ asset('bundles/c2jeasysaisie/img/xbar.png') }}" /> Générale</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sp in studentPromotions %}
                        <tr>
                            <td>{{ sp.student.number }}</td>
                            <td class="studentName"><b>{{ sp.student.lastName }}</b> {{ sp.student.firstName }}</td>
                            {% for container in containers %}
                                <td class="avg" data-containername="{{ container }}"></td>
                            {% endfor %}
                            <td class="generalAvg"></td>
                        </tr> 
                    {% endfor %} 
                </tbody> 
            </table>

            <hr />
            
            <!-- STUDENTS AVG TABLE -->
            <table class="table table-bordered table-bordered table-striped table-hover" id="studentsAvgTable">
                <thead>
                    <th data-sorter="false"></th>
                    {% for container in containers %}
                        <th data-sorter="false"><img src="{{ asset('bundles/c2jeasysaisie/img/xbar.png') }}" /> {{ container.name }}</th>
                    {% endfor %}
                    <th data-sorter="false"><img src="{{ asset('bundles/c2jeasysaisie/img/xbar.png') }}" /> Générale</th>
                </thead>
                <tbody>
                <tr>
                    <td><b>Moyenne</b></td>
                    {% for container in containers %}
                        <td></td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <td><b>Min</b></td>
                    {% for container in containers %}
                        <td></td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <td><b>Max</b></td>
                    {% for container in containers %}
                        <td></td>
                    {% endfor %}
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <hr />
        <p class="center no-reccords-to-display">Il n'y a rien à afficher pour cette promotion actuellement.</p>
    {% endif %}

    <hr />
    
    <div class="row">
        <p class="center">            
            <a href="{{ path('mark') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var promotion = {};
        promotion.minAvgToValidate = {{ minAvgToValidate|json_encode|raw }}

        var session = {{ session }}
    </script>
    <script type="text/javascript" src="{{ asset('bundles/c2jeasysaisie/js/marks.js') }}"></script>
{% endblock %}
